<!DOCTYPE html>
<html>
    <head>
        <!-- <title> EJS Machine module </title> -->
        <title><%= title %></title>
    </head>
    <body>
        <h1> Hey I'm inside a machine module of EJS </h1>
    </body>
</html>